<!-- Edit Doctype -->

<h1> Editar Tipo de Documento </h1>
<hr>

<form id="editForm" action="/sgd/doctypes/edit/{{doctype.doctype_id}}" method="POST">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputId"> ID </label>
            <input type="number" value="{{doctype.doctype_id}}" class="form-control" id="inputId" name="id">
        </div>
        <div class="form-group col-md-8">
            <label for="inputDays"> Dias para respuesta </label>
            <input type="text" value="{{doctype.doctype_days}}" class="form-control" id="inputDays" name="days">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputName"> Nombre </label>
            <input type="text" value="{{doctype.doctype_name}}" class="form-control" id="inputName" name="name">
        </div>
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons" id="btnAction">
        <a class="btn btn-secondary" href="/sgd/doctypes" id="btnCancel"> Cancelar </a>
        <button type="submit" form="editForm" class="btn btn-primary" id="btnSubmit"> Guardar </button>
    </div>
</form>