
<h1> Tipo de Documentos </h1>
<hr>
<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group" aria-label="First group">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addUser"> 
            <i class="bi bi-person-plus"></i>
        </button>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text" id="btnSearch"> 
                <i class="bi bi-search"></i>
            </div>
        </div>
        <input type="text" class="form-control" aria-label="Input group example" aria-describedby="btnSearch">
    </div>
</div>
<hr>
<ul class="list-group">
<li class="list-group-item list-group-item-action" href="#" aria-current="true"> Usuario
    <button class="btn btn-primary" id="editUser"> Editar </button>
</li>

<!-- Modal add User -->
<div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Crear Usuario </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="user" action="/sgd/user" method="POST">
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="inputFullname"> Nombre </label>
                            <input type="text" class="form-control" id="inputFullname" name="fullname">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputUser"> Usuario </label>
                            <input type="text" class="form-control" id="inputUser" name="username">
                        </div>
                        <div class="form-group col-md-5">
                            <label for="inputEmail"> Correo Electronico </label>
                            <input type="email" class="form-control" id="inputEmail" name="email">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="inputDependence"> Dependecia </label>
                            <select class="form-control" id="inputDependence" name="dependence">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputId"> ID </label>
                            <input type="number" class="form-control" id="inputId" name="id" placeholder="Cod Dep + ID" >
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputPerfil"> Perfil </label>
                            <select class="form-control" id="inputPerfil" name="profile">
                                <option>Jefe</option>
                                <option>Normal</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputRol"> Rol </label>
                            <select class="form-control" id="inputRol" name="rol">
                                <option>Auxiliar Administrativo</option>
                                <option>Profesional Universitario</option>
                                <option>Profesional Especializado</option>
                                <option>Asesor</option>
                                <option>Directivo</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputExt"> Extensión </label>
                            <input type="text" class="form-control" id="inputExt" name="ext">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputAddress"> Ubicación </label>
                            <input type="text" class="form-control" id="inputAddress" name="address" placeholder="Dirección + Edificio">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cerrar </button>
                <button type="submit" class="btn btn-primary"> Guardar </button>
            </div>
        </div>
    </div>
</div>