<!-- Edit Building -->

<h1> Editar Edificio</h1>
<hr>

<form id="editForm" action="/edit_ed_{{building.ed_id}}" method="POST">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputId"> ID </label>
            <input type="number" value="{{building.ed_id}}" class="form-control" id="inputId" name="id" placeholder="Cod Dep + ID" >
        </div>
        <div class="form-group col-md-8">
            <label for="inputName"> Nombre </label>
            <input type="text" value="{{building.ed_name}}" class="form-control" id="inputName" name="name">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputAddress"> Ubicación </label>
            <input type="text" value="{{building.ed_address}}" class="form-control" id="inputAddress" name="address" placeholder="Dirección + Edificio">
        </div>
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons" id="btnAction">
        <a class="btn btn-secondary" href="/sgd/buildings" id="btnCancel"> Cancelar </a>
        <button type="submit" form="editForm" class="btn btn-primary" id="btnSubmit"> Guardar </button>
    </div>
</form>