body{
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: #eeeeee!important;
	max-height: 100vh; 
}

/*  Change the color of the navbar-brand*/

.navbar .navbar-brand{
    color: #ffffff;
    margin: 0;
}
/*  Change the color of the nav-items*/

#bar-item{
    color: #ffffff;
    margin: 0;
}
#bar-subitem{
    color: #000000;
    margin: 0;
}

#subitem{
    display: none;
}

#submenu:hover #subitem{
    display: block;
}

#sidebar{
    width: 220px;
    padding-top: 10px;
    margin-right: 0%;
    min-height: 85vh;
    overflow:hidden;
    position:absolute;
}

#sidebar #menu{
    color: #ffffff;
}

#sidebar #menu:hover{
    text-decoration: none;
    text-align: left;
    background-color: #eeeeee;
    color: #000000;
    width: 100%;
}

#sidebar #item{
    color: #ffffff;
}

#sidebar #item:hover{
    text-decoration: none;
    background-color: #eeeeee;
    color: #000000;
}

#content {
    padding-left: 20%;
    padding-right: 2%;
    max-height: 85vh;
    transition: all 0.3s;
    overflow: auto;
  }

#editUser{
    float:right;
}

.modal-dialog{
    vertical-align: middle;
}