body{
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: #eeeeee!important;
	max-height: 100vh; 
    position: relative;
}

/*  Change the color of the navbar-brand*/

#navigation .navbar-brand{
    color: #ffffff;
    margin: 0;
}

.btn {
    border-radius: 0px;
  }

/*  Change the color of the nav-items*/

#bar-item{
    color: #ffffff;
    margin: 0;
}
#bar-subitem{
    color: #000000;
    margin: 0;
}

#subitem{
    display: none;
}

#submenu:hover #subitem{
    display: block;
}

#sidebar{
    width: 220px;
    padding-top: 10px;
    margin-right: 0%;
    min-height: 85vh;
    overflow:hidden;
    position:absolute;
}

#sidebar #menu{
    color: #ffffff;
}

#sidebar #menu:hover{
    text-decoration: none;
    text-align: left;
    background-color: #eeeeee;
    color: #000000;
    width: 100%;
}

#sidebar #item{
    color: #ffffff;
}

#sidebar #item:hover{
    text-decoration: none;
    background-color: #eeeeee;
    color: #000000;
}

#content {
    padding-left: 20%;
    padding-right: 2%;
    padding-bottom: 2%;
    max-height: 85vh;
    transition: all 0.3s;
    overflow: auto;
  }

.btn-primary{
    background-color: #034488;
}

#btnEdit{
    color: #034488;
}

#btnAction{
    float: right;
}

#navNewDoc{
    background-color: #eeeeee;
}

.contenedor {
    width: 1080px;
    margin: auto;
    background: black;
    color: bisque;
    padding: 20px 15px 50px 50px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.8);
}
.contenedor .titulo {
    font-size: 3.5ex;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
}
#pestanas {
    float: top;
    font-size: 3ex;
    font-weight: bold;
    transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    position: relative;
    top: 137px;
    left: -566px;
}
#pestanas ul {
    margin-left: -40px;
}
#pestanas li {
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: darkgrey;
    padding: 0px 20px 0px 20px;
}
#pestanas a:link {
    text-decoration: none;
    color: bisque;
}
#contenidopestanas {
    clear: both;
    background: dimgray;
    padding: 20px;
    width: 1025px;
    height: 800px;
}