<nav id="sidebar" class="sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li>
                <a id='menu' class="btn dropdown-toggle" data-target="#inboxSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="bi bi-box-arrow-in-down"></i> Ingreso
                </a>
                <ul class="collapse list-unstyled" id="inboxSubmenu" >
                    <li class="nav-item">
                        <a id='item' class="nav-link" href="#"> Fisico </a>
                    </li>
                    <li class="nav-item">
                        <a id='item' class="nav-link" href="#"> E-mail </a>
                    </li>
                </ul>
            </li>
            <li>
                <a id='menu' class="btn dropdown-toggle" href="#outboxSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="bi bi-box-arrow-down"></i> Salida
                </a>
                <ul class="collapse list-unstyled" id="outboxSubmenu">
                    <li class="nav-item">
                        <a id='item' class="nav-link" href="#"> Fisico </a>
                    </li>
                    <li class="nav-item">
                        <a id='item' class="nav-link" href="#"> E-mail </a>
                    </li>
                    <li class="nav-item">
                        <a id='item' class="nav-link" href="#"> Vo. Bo. </a>
                    </li>
                </ul>
            </li>
            <li>
                <a id='menu' class="btn dropdown-toggle" href="#actionSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="bi bi-ui-checks-grid"></i> Acciones
                </a>
                <ul class="collapse list-unstyled" id="actionSubmenu">
                    <li class="nav-item">
                        <a id='item' class="nav-link" href="#"> Consulta </a>
                    </li>
                    <li class="nav-item">
                        <a id='item' class="nav-link" href="#"> Prestamo </a>
                    </li>
                    <li class="nav-item">
                        <a id='item' class="nav-link" href="#"> Devoluciones </a>
                    </li>
                </ul>
            </li>
            <li>
                <a id='menu' class="btn nav-item" href="#"> 
                    <i class="bi bi-table"></i> TRD
                </a>
            </li>
        </ul>
    </div>
</nav>