<nav class="sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li>
                <a id='menu' class="btn dropdown-toggle" data-target="#inboxSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="bi bi-file-plus"></i> Radicación
                </a>
                <ul class="collapse list-unstyled" id="inboxSubmenu" >
                    <li class="nav-item">
                        <a id='item' class="nav-link" href="new_doc"> Nuevo Radicado Fisico </a>
                    </li>
                    <li class="nav-item">
                        <a id='item' class="nav-link" href="#"> Nuevo Radicado E-mail </a>
                    </li>
                </ul>
            </li>
            <li>
                <a id='menu' class="btn dropdown-toggle" href="#actionSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="bi bi-ui-checks-grid"></i> Acciones
                </a>
                <ul class="collapse list-unstyled" id="actionSubmenu">
                    <li class="nav-item">
                        <a id='item' class="nav-link" href="#"> Vo. Bo. </a>
                    </li>
                    <li class="nav-item">
                        <a id='item' class="nav-link" href="#"> Firmar </a>
                    </li>
                    <li class="nav-item">
                        <a id='item' class="nav-link" href="#"> Consulta </a>
                    </li>
                    <li class="nav-item">
                        <a id='item' class="nav-link" href="#"> Prestamo </a>
                    </li>
                    <li class="nav-item">
                        <a id='item' class="nav-link" href="#"> Devoluciones </a>
                    </li>                   
                    <li class="nav-item">
                        <a id='item' class="nav-link" href="#"> Editar Radicado </a>
                    </li>
                </ul>
            </li>
            <li>
                <a id='menu' class="btn dropdown-toggle" href="#tableSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="bi bi-table"></i>  Tablas
                </a>
                <ul class="collapse list-unstyled" id="tableSubmenu">
                    <li class="nav-item">
                        <a id='item' class="nav-link" href="#"> Estado de Documentos </a>
                    </li>
                    <li class="nav-item">
                        <a id='item' class="nav-link" href="#"> TRD </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>