<h1>Cambiar Contrase単a</h1>
<hr>
<form action="#" method="post">
    <div class="form-row">

         <!-- Your current password -->
        <div class="form-group col-md-4">
            <label for="password_current"> 
                <i class="bi bi-key-fill"></i> Contrase単a Actual:
            </label>
            <input type="password" name="password_current" id="password_current" />
        </div>

        <!-- Your new password -->
        <div class="form-group col-md-4">
            <label for="password_new"> Nueva Contrase単a: </label>
            <input type="password" name="password_new" id="password_new" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"/>
        </div>
        
        <!-- Confirm password -->
        <div class="form-group col-md-4">
            <label for="password_confirm"> Confirmar Contrase単a: </label>
            <input type="password" name="password_confirm" id="password_confirm" />
        </div>
    </div>
    <!-- Controls -->
    <div class="controls">
        <button type="submit" class="btn btn-primary btn-block" id="submitPass"> Guardar </button>
    </div>
</form>

{{!-- <div id="message">
  <h3>Password must contain the following:</h3>
  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
  <p id="number" class="invalid">A <b>number</b></p>
  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
</div> --}}