<img id= "top" src= "styles/img/top_left.svg">
<img id= "bottom" src= "styles/img/bottom_right.svg">

<div class="container">
    <img id= "orfeo" src= "styles/img/orfeo.svg">
    <img id= "ent" src= "styles/ent/img/logoEntidad.svg">
</div>

<!-- start Login box -->
<div class="login-box">
    <img src="styles/ent/img/logoEntidad.png" class="avatar" alt="Avatar Image">
    <h1>Alcaldia Municipal</h1>
    <form id="login-form">
        <!-- Username -->
        <label for="username">
            <i class="bi bi-person-fill"></i> Usuario
        </label>
        <input type="text" name="username" placeholder="Usuario...">
        
        <!-- Password -->
        <label for="password">
            <i class="bi bi-key-fill"></i> Contraseña
        </label>
        <input type="password" name="password" placeholder="Contraseña...">

        <!-- Buttom -->
        <input type="submit" value="Ingresar" id="login-form-submit">
    </form>
    <br>
    <div id="login-error-msg-holder">
        <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
    </div>
</div>
<!-- End Login box -->